.services {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
}

.box {
  width: 400px;
  text-align: center;
  margin: 50px;

  padding: 30px;
  display: table-cell;
  vertical-align: top;
  }

  .col-md-12 {
    border-top-color: black;
    border-top-width: 2px;
    border-top-style: solid;
    padding: 10px;
    overflow: auto;
  }

  .subtitle {
    text-align: center;
  }

